@import '../../../styles.scss';

.content-job {
    width: 100%;
    padding: 100px 0;
    font-family: $fontPattern;
}


.container-content {
    margin: auto;
    max-width: 1280px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.header-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 30px;
}

.header-flex p {
    width: 720px;
}

h2 {
    font-size: 2rem;
}

.card-text {
    font-size: 1rem;
    font-weight: 500;
}

.example-card {
    max-width: 300px;
    overflow: hidden;
    transition: transform .5s ease-in-out;
    margin: 0 20px;
}

.example-card:hover {
    transform: scale(1.1);
  }

.cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

mat-card-title {
    color: $earth;
}
  