<div class="content-job">
    <div class="container-content">
        <div class="header-flex">
            <h2>MEU TRABALHO</h2>
            <p class="text-center mt-3">
                Desfrute de Consultoria Especializada em Gastronomia para elevar seu restaurante e surpreender seus
                clientes. Contrate um Personal Chef para experiências gastronômicas exclusivas em sua casa.
            </p>
        </div>

        <div class="cards">
            <mat-card class="example-card">
                <img mat-card-image src="../../../assets/image/icone02.jpg" alt="">
                <mat-card-header>
                    <mat-card-title>Personal Chef</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p class="card-text">
                        <small class="text-body-secondary">
                            Imagine ter uma chef na sua cozinha, criando uma experiência de restaurante exclusiva para
                            seus convidados. Nossa chef personaliza o cardápio de acordo com suas preferências e realiza
                            o evento na sua casa. Transforme suas ocasiões em momentos memoráveis com nosso serviço
                            "Chef at Home".
                        </small>
                    </p>
                </mat-card-content>
            </mat-card>

            <mat-card class="example-card">
                <img mat-card-image src="../../../assets/image/icone03.jpg" alt="">
                <mat-card-header>
                    <mat-card-title>Consultoria</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p class="card-text">
                        <small class="text-body-secondary">
                            Rosa Barros oferece consultoria culinária exclusiva, adaptada ao seu estilo e exigências,
                            diretamente na sua residência. Desde técnicas básicas até elaboradas preparações, estamos
                            comprometidos em enriquecer suas experiências gastronômicas, proporcionando momentos
                            memoráveis e personalizados.
                        </small>
                    </p>
                </mat-card-content>
            </mat-card>

            <mat-card class="example-card">
                <img mat-card-image src="../../../assets/image/icone01.jpg" alt="">
                <mat-card-header>
                    <mat-card-title>Grupo de Estudos</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <p class="card-text">
                        <small class="text-body-secondary">
                            Deseja aperfeiçoar suas habilidades culinárias? Conte com a expertise da nossa chef para
                            orientá-lo!
                            <br>
                            <br>
                            Entre em contato conosco para mais informações
                            e transforme sua experiência na cozinha em algo verdadeiramente excepcional!
                        </small>
                    </p>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>