@import '../../../../styles.scss';

$transition-duration: 0.3s;
$transition-timing-function: ease;

a {
  text-decoration: none;
}

.mat-toolbar {
  width: 100%;
  height: 120px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transition: all .5s ease-in-out;
  background: none;
}

.content {
  width: 100%;
  max-width: 1280px;
  margin: auto;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a img {
  width: 140px;
}

a img :hover {
  cursor: pointer;
}

.menu-links a {
  position: relative;
}

.menu-links a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0.1rem;
  background: $earth;
  transition: all 300ms ease-in-out;
  transform: translateX(-50%);
}

.menu-links a:hover::after {
  width: 100%;
}

.custom-button {
  display: inline-block;
  padding: 8px 16px;
  margin: 0 10px;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  padding: 0 20px;
  color: $beige;
  font-family: $fontPattern;
  transition: color $transition-duration $transition-timing-function;
}

.custom-button:hover {
  color: $earth;
  background: $beige;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

/* QUANDO SCROLL ESTIVER ATIVO */
.scrolled {
  height: 60px;
  background: $forest-green;
  transition: all .3s ease-in-out;
}

.scrolled .custom-button {
  color: $beige;
}

.scrolled .custom-button:hover {
  color: $earth;
  background: $beige;
  cursor: pointer;
}

.scrolled a img {
  width: 90px;
}


/* Estilo personalizado para abrir o menu para baixo */
@media (max-width: 991.98px) {
  .bg-dark {
    --bs-bg-opacity: 0;
    background-color: none !important;
  }

  .offcanvas,
  .offcanvas-lg,
  .offcanvas-md,
  .offcanvas-sm,
  .offcanvas-xl,
  .offcanvas-xxl {
    --bs-offcanvas-width: 220px;
  }

  .offcanvas-header {
    height: 60px;
    background-color: $earth;
    color: $beige;
  }

  .offcanvas-body {
    background-color: $forest-green;
  }


  .navbar-collapse .custom-button {
    display: block;
    padding: 1rem;
    color: #f8f9fa;
    transition: background-color 0.3s ease;
  }

  .navbar-collapse .custom-button:hover {
    background-color: #495057;
  }
}



/* Estilos para telas de 375x812px */
@media only screen and (max-width: 920px) {
  .mat-toolbar {
    height: 60px;
  }

  .content {
    max-width: 375px;
  }

  a img {
    width: 90px;
  }

  .menu-links.d-lg-block {
    display: none;
  }

  .collapse.d-lg-none {
    display: block;
    margin-top: 10px;
  }

  .custom-button {
    display: block;
    margin-bottom: 5px;
  }
}