<footer>
    <div class="content">
        <div class="container text-left">
            <div class="row row-cols-3">
                <div class="col-4">
                    <h2 class="card-title">CONTATO</h2>
                    <p>rosamariabarrosdasilva&#64;gmail.com</p>
                    <h3>Solicite um Orçamento</h3>
                    <mat-card class="example-card">
                        <mat-card-header>
                            <a href="https://api.whatsapp.com/send?phone=5511953991001" target="_blank">
                                <div style="position: relative;" fill loading="lazy" mat-card-avatar class="example-header-image whatsapp-avatar"></div>
                            </a>
                            <h4>(11) 95399-1001</h4>
                        </mat-card-header>
                    </mat-card>
                </div>
                <div class="col-4">
                    <h2 class="card-title">MENU</h2>
                    <ul class="list">
                        <a href="#">
                            <li class="list-item">INÍCIO</li>
                        </a>
                        <a href="#about">
                            <li class="list-item">SOBRE</li>
                        </a>
                        <a href="#my-job">
                            <li class="list-item">MEU TRABALHO</li>
                        </a>
                        <a href="#gallery">
                            <li class="list-item">GALERIA</li>
                        </a>
                        <a href="#events">
                            <li class="list-item">EVENTOS</li>
                        </a>
                        <a href="#contact">
                            <li class="list-item">CONTATO</li>
                        </a>
                    </ul>
                </div>

                <div class="col-4">
                    <h2 class="card-title">REDES SOCIAIS</h2>
                    <mat-card class="example-card">
                        <mat-card-header>
                            <a href="https://www.instagram.com/rosabarros.73/" target="_blank">
                                <div style="position: relative;" fill loading="lazy" mat-card-avatar class="example-header-image instagram-avatar"></div>
                            </a>
                            <a href="https://www.facebook.com/profile.php?id=100006820667795" target="_blank">
                                <div style="position: relative;" fill loading="lazy" mat-card-avatar class="example-header-image facebook-avatar"></div>
                            </a>
                        </mat-card-header>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>

    <div class="copyright">
        <div class="flex">
            <div>Copyright &copy; 2024 Rosa Barros | Todos os Direitos Reservados</div>
            <div>Desenvolvido por: Emerson Barros</div>
        </div>
    </div>
</footer>