@import '../../../styles.scss';

footer {
    width: 100%;
    margin: auto;
    font-family: $fontPattern;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $forest-green;
    color: $beige;
}

.content {
    width: 1280px;
    height: 400px;
}

.copyright {
    width: 100%;
    height: 85px;
    background: $earth;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid $beige;
}

.flex {
    width: 1280px;
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

.card-title {
    color: $earth;
    font-size: 1.2rem;
    font-weight: 500;
    padding-top: 50px;
}

h3 {
    margin: 0 0 5px 0;
    font-size: 1.5rem;
    font-weight: 300;
}

h4 {
    margin: 0;
    padding-left: 10px;
    font-weight: 700;
    color: $beige;
}

ul,
a,
li {
    list-style-type: none;
    padding: 3px 0;
    margin: 0;
    color: $beige;
    text-decoration: none;
    font-weight: 500;
    transition: all .3s ease-in-out;
}

li:hover {
    color: $earth;
    font-weight: 600;
}

.example-card {
    max-width: 400px;
    background: none;
    box-shadow: none;
}

.example-card:hover {
    cursor: pointer;
}

.mat-mdc-card-header {
    display: flex;
    padding: 0;
    margin: 0;
    align-items: center;
}

.example-header-image {
    background-size: cover;
    padding: 0;
    margin: 0;
}

.facebook-avatar {
    background-image: url('../../../assets/image/icones/facebook.png');
}

.instagram-avatar {
    margin-right: 20px;
    background-image: url('../../../assets/image/icones/instagram.png');
}

.whatsapp-avatar {
    background-image: url('../../../assets/image/icones/whatsapp.png');
}

// Adicionando a query de mídia para telas menores que 375px
@media (max-width: 375px) {
    footer .content {
        width: 100%;
        height: auto;
    }

    footer .container {
        width: 100%;
        padding: 0;
    }

    footer .row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    footer .card-title {
        padding-top: 30px;
    }

    footer .list-item {
        margin-bottom: 10px;
    }

    footer .example-card {
        max-width: 300px;
        margin-bottom: 20px;
    }

    footer .flex {
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .col-4 {
        width: 100%;
        text-align: center;
    }

    .col-4 h2.card-title {
        padding-top: 20px;
    }

    .col-4 h3 {
        margin-bottom: 5px;
    }

    .example-card {
        max-width: 80%;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .example-card mat-card-header {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .whatsapp-avatar {
        margin-right: 10px;
    }

    .col-4 h4 {
        margin: 0;
        font-size: 1.2rem;
    }
}