<div class="content-events">
    <div class="header-flex">
        <h2>EVENTOS</h2>
        <p class="text-center mt-3">
            Desfrute de uma experiência gastronômica excepcional com a Chef Rosa Barros em seu próximo evento. Desde a
            seleção dos ingredientes até o serviço de mesa, ela cuida de todos os detalhes, garantindo pratos deliciosos
            e uma apresentação impecável. Confie na expertise de Rosa Barros para tornar seu evento verdadeiramente
            inesquecível.
        </p>
    </div>

    <div class="row row-cols-1 row-cols-md-2 g-4">
        <div class="col">
            <div class="card">
                <img ngSrc="../../../assets/image/events/social.png" style="position: relative;" fill loading="lazy" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Eventos Sociais</h5>
                    <p class="card-text">
                        Mais sabor e requinte para festas de aniversário, batizados, casamentos, chás de bebê e chás de
                        revelação.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img ngSrc="../../../assets/image/events/corporativo.png" style="position: relative;" fill loading="lazy" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Eventos Corporativos</h5>
                    <p class="card-text">
                        Surpreenda o paladar de clientes e colaboradores em workshops, feiras, inaugurações, Coffee
                        breaks e reuniões.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../../assets/image/events/cultural.png" style="position: relative;" fill loading="lazy" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Eventos Culturais</h5>
                    <p class="card-text">
                        Concursos, Entrevista coletiva, Tarde de autógrafos, Torneio, Apresentações de
                        dança, Sessões de Leitura, Demonstrações de Artesanato.
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="../../../assets/image/events/tematico.png" style="position: relative;" fill loading="lazy" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Eventos Temáticos</h5>
                    <p class="card-text">
                        Seu evento ganha ainda mais personalidade com o nosso buffet de pratos árabes, comidas de
                        boteco, festas juninas e festas nordestinas.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
