@import '../../../styles.scss';

.content-events {
    width: 100%;
    padding-top: 100px;
    font-family: $fontPattern;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.header-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    font-weight: 500;
}

.header-flex p {
    width: 720px;
}

h2 {
    font-size: 2rem;
    color: $earth;
}

.card {
    font-weight: 500;
    width: 100%;
}

.card-title {
    color: $earth;
    font-size: 1.2rem;
    font-weight: 500;
}

.content-cards {
    max-width: 1100px;
}

// Adicionando a query de mídia para telas menores que 375px
@media (max-width: 375px) {
    .header-flex {
        padding: 0;
    }

    .header-flex p {
        width: auto;
        text-align: center;
        padding: 0 20px;
    }

    h2 {
        font-size: 1.5rem;
    }

    .content-cards .col {
        width: 350px;
    }

    .card {
        margin-bottom: 10px;
    }

    .content-cards {
        display: flex;
        flex-direction: column;
        margin-top: 10px;
    }

    .content-events {
        padding-top: 70px;
    }
}