<div class="content-contact">
    <div class="content-banner">
        <img ngSrc="../../../assets/image/banner04.png" style="position: relative;" fill priority class="d-block w100"
            alt="...">
    </div>
    <div class="content-forms">
        <div class="header-flex text-center">
            <h2>CONTATO</h2>
            <p class="text-center mt-3">
                Entre em contato com a Personal Chef Rosa Barros.
            </p>
        </div>
        <div class="text-center pt-3">
            <h3>Solicitar Orçamento?</h3>
            <mat-radio-group class="radio-button" aria-label="Select an option" [(ngModel)]="budgetRequestSelected">
                <mat-radio-button value="1" (change)="showDisplayForms = true">SIM</mat-radio-button>
                <mat-radio-button value="2" (click)="openDialog()">NÃO</mat-radio-button>
            </mat-radio-group>
        </div>
        <div *ngIf="showDisplayForms" class="forms m-3">
            <form [formGroup]="form">
                <div class="row">
                    <div class="col">
                        <mat-form-field class="full-name">
                            <mat-label>Nome Completo</mat-label>
                            <input matInput formControlName="fullName">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="email">
                            <mat-label>Email</mat-label>
                            <input matInput placeholder="pat@example.com" formControlName="email">
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field class="phone">
                            <mat-label>Celular</mat-label>
                            <input matInput type="text" formControlName="phone" mask="(00) 0000-0000||(00) 0 0000-0000"
                                min="14" max="15" (input)="onPhoneInput($event)">
                            <mat-hint align="end">com DDD</mat-hint>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="event-type">
                            <mat-label>Tipo de Evento</mat-label>
                            <mat-select formControlName="eventType">
                                <mat-option *ngFor="let type of eventTypes" [value]="type">{{ type }}</mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col">
                        <mat-form-field class="guests">
                            <mat-label>Quantidade de Pessoas</mat-label>
                            <input type="number" matInput formControlName="numberOfPeoples">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <mat-form-field class="textArea">
                            <mat-label>Descreva seu evento</mat-label>
                            <textarea matInput #input maxlength="500" formControlName="message"></textarea>
                            <mat-hint align="end">{{input.value.length}}/500</mat-hint>
                        </mat-form-field>
                    </div>
                </div>
                <span *ngIf="form.valid">
                    <small class="text-body-secondary">
                        Ao clicar em enviar, você confirma que deseja fornecer seus dados pessoais.
                    </small>
                </span>
                <button mat-raised-button type="submit" (click)="onSubmit()" [disabled]="form.invalid">ENVIAR</button>
            </form>
        </div>
    </div>
</div>