@import '../../../styles.scss';

.content-contact {
    width: 100%;
    height: 100%;
    padding: 50px 0;
    margin: auto;
    font-family: $fontPattern;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-banner {
    height: 100vh;
    flex: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.content-forms {
    height: 100vh;
    width: 100%;
    flex: 6;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $beige;
}

h2 {
    font-size: 2rem;
    color: $earth;
}

h3 {
    font-size: 1.2rem;
    font-weight: 300;
    margin: 0;
}

.mat-mdc-radio-button.mat-accent {
    --mdc-radio-selected-hover-icon-color: #B25534;
    --mdc-radio-selected-icon-color: #B25534;
    --mdc-radio-selected-pressed-icon-color: #23372C;
    --mat-radio-checked-ripple-color: #23372C;
}

.mat-mdc-radio-button~.mat-mdc-radio-button {
    margin-left: 50px;
}

.forms {
    max-width: 100%;
    text-align: center;
}

.full-name,
.email,
.phone,
.event-type,
.guests,
.textArea {
    width: 100%;
}

.forms .mat-mdc-raised-button {
    width: 30%;
    margin-top: 10px;
    padding: 25px 0;
    color: $beige;
    background: $earth;
}

.forms .mat-mdc-raised-button:disabled {
    margin-top: 10px;
    background-color: gray;
    color: white;
}

/* Estilo para remover as setas de incremento e decremento */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

// Adicionando a query de mídia para telas menores que 375px
@media (max-width: 375px) {
    .card {
        margin-bottom: 20px;
    }

    .header-flex {
        padding: 0;
        margin: 0;
    }

    .header-flex p {
        width: auto;
        text-align: center;
        padding: 0 30px;
    }

    h2 {
        font-size: 1.5rem;
    }

    .content-banner {
        display: none;
    }

    .content-forms {
        flex: 9;
        padding: 0 10%;
        margin: 20px 0;
    }

    .content-contact {
        height: auto;
        background-color: $beige;
    }
}