@import '../../../styles.scss';

.content-contact {
    width: 100%;
    height: 100vh;
    font-family: $fontPattern;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $forest-green;
    color: $beige;
}

.content-banner {
    height: 100%;
    flex: 4;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.brand-contact {
    width: 300px;
    margin: 60px;
}

.content-forms {
    height: 100%;
    width: 100%;
    flex: 6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2 {
    font-size: 2rem;
    color: $earth;
}

h3 {
    font-size: 1.2rem;
    font-weight: 300;
    margin: 0;
}

.mat-mdc-radio-button.mat-accent {
    --mdc-radio-selected-hover-icon-color: #B25534;
    --mdc-radio-selected-icon-color: #B25534;
    --mdc-radio-selected-pressed-icon-color: #23372C;
    --mat-radio-checked-ripple-color: #23372C;
}

.mat-mdc-radio-button~.mat-mdc-radio-button {
    margin-left: 50px;
}

.forms {
    width: 70%;
    text-align: center;
}

.full-name,
.email,
.phone,
.event-type,
.guests,
.textArea {
    width: 100%;
}

.content-forms .mat-mdc-raised-button {
    margin-top: 10px;
    color: $beige;
    background: $forest-green;
}

.forms .mat-mdc-raised-button {
    width: 120px;
    margin-top: 10px;
    padding: 25px 0;
    color: $beige;
    background: $earth;
}

.forms .mat-mdc-raised-button:disabled {
    margin-top: 10px;
    background-color: gray;
    color: white;
}

/* Estilo para remover as setas de incremento e decremento */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
}

.clickHome {
    position: absolute;
    bottom: 50px;
}

.clickHome .mat-mdc-raised-button {
    background: $beige;
    color: $earth;
}

.text-body-secondary {
    color: $beige !important;
}


// Adicionando a query de mídia para telas menores que 375px
@media (max-width: 375px) {
    .card {
        margin-bottom: 20px;
    }

    .header-flex {
        padding: 0;
        margin: 0;
    }

    .header-flex p {
        width: auto;
        text-align: center;
        padding: 0 30px;
    }

    h2 {
        font-size: 1.5rem;
    }

    .content-banner {
        display: none;
    }

    .content-forms {
        flex: 9;
        padding: 0 10%;
        margin: 20px 0;
        height: 100%;
    }

    .brand-contact {
        width: 180px;
        margin: 20px;
    }

    .content-contact {
        background-color: $forest-green;
        padding-bottom: 30px;
    }

    .forms {
        width: 100%;
        max-width: 100%;
    }
}