<div class="content-about">
    <div class="container text-left">
        <div class="row row-cols-3">
            <div class="col-2">
                <h2 class="card-title">QUEM <br>SOU EU</h2>
            </div>
            <div class="col-5">
                <p class="card-text">
                    <strong>Rosa Barros</strong> é uma talentosa e apaixonada Personal Chef, reconhecida por
                    suas criações
                    gastronômicas únicas que cativam os paladares mais exigentes. Com uma abordagem
                    personalizada e atenta aos detalhes, ela combina técnicas refinadas com ingredientes frescos
                    e de alta qualidade para oferecer experiências culinárias memoráveis. Sua dedicação à
                    culinária, juntamente com seu toque criativo e autêntico, fazem dela uma referência na arte
                    de encantar os sentidos através da comida.
                </p>
                <p class="card-text">
                    Além disso, ao longo de mais de 20 anos de experiência, Rosa trabalhou em inúmeros
                    restaurantes, churrascarias e casas de alto padrão, absorvendo a essência e os segredos de
                    diferentes cozinhas ao estudar com chefs renomados da culinária brasileira, francesa,
                    vegetariana e vegana. Sua jornada de aprendizado contínuo é evidência de seu compromisso com
                    a excelência culinária e a busca pela perfeição em cada prato que cria.
                </p>
                <p class="card-text">
                    Sua abordagem vai além de simplesmente preparar refeições; ela cria experiências sensoriais
                    que cativam os sentidos e contam histórias através dos sabores. Cada prato é uma obra-prima
                    cuidadosamente elaborada, refletindo não apenas sua habilidade técnica, mas também sua
                    profunda conexão com os ingredientes e dedicação à arte culinária.
                </p>
            </div>
            <div class="col-5">
                <p class="card-text">
                    Fora da cozinha, Rosa é uma verdadeira embaixadora da cultura alimentar, promovendo a
                    importância da alimentação consciente e sustentável. Seu compromisso com ingredientes
                    frescos e de qualidade ecoa não apenas em seus pratos, mas também em seu engajamento com
                    produtores locais e práticas responsáveis.
                </p>
                <p class="card-text">
                    Reconhecida por sua generosidade e vontade de compartilhar conhecimento, Rosa dedica seu
                    tempo a mentorar jovens chefs em ascensão e a apoiar iniciativas que promovem a inclusão e
                    diversidade na indústria gastronômica. Sua influência transcende fronteiras geográficas,
                    alcançando um público global através de suas redes sociais e colaborações com outros chefs
                    renomados. Sua visão visionária e paixão pela culinária continuam a inspirar e influenciar
                    uma nova geração de amantes da comida em todo o mundo.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="banner-about">
    <img ngSrc="../../../assets/image/banner01.png" style="position: relative;" fill priority class="d-block"
        alt="...">
</div>