@import '../../../styles.scss';

.content {
    width: 100%;
    max-width: 1280px;
    margin: auto;
    padding: 80px 0;
    font-family: $fontPattern;
}

h2 {
    font-size: 2rem;
}

.card-title {
    color: $earth;
}

.card-text {
    font-weight: 500;
}

.carousel-item {
    border: none;
    background:none;
}

.carousel {
    background: $earth;
}

.carousel-item img {
    width: 100vw;
    margin: auto;
}
