@import '../../../styles.scss';

.content-about {
    width: 100%;
    padding: 100px 0;
    font-family: $fontPattern;
}

h2 {
    font-size: 2rem;
}

.card-title {
    color: $earth;
}

.card-text {
    font-weight: 500;
}

.banner-about {
    width: 100%;
    object-fit: cover;
}