<div class="content">
  <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="banner">
          <div class="name-title">ROSA BARROS</div>
          <div class="subtitle">Sabores Sofisticado e Experiências Memoráveis</div>
          <a href="#my-job"><button mat-raised-button>CONHEÇA</button></a>
        </div>
        <img src="../../../assets/image/foto-home-01.png" class="d-block" alt="...">
      </div>
      <div class="carousel-item">
        <div class="banner">
          <div class="name-title">PERSONAL CHEF</div>
          <p class="subtitle">
            Permita-nos trazer a magia da culinária diretamente para sua casa,
            evento ou ocasião especial. Sinta-se mimado(a) com um serviço exclusivo, personalizado e cheio de sabores
            irresistíveis. Deixe-nos criar momentos memoráveis através da harmonia perfeita entre sabores, texturas e
            aromas. Sua satisfação é nossa maior recompensa. Desfrute de momentos extraordinários com o talento e
            dedicação da nossa Personal Chef Rosa Barros.
          </p>
          <a href="#about"><button mat-raised-button>SAIBA MAIS</button></a>
        </div>
        <img src="../../../assets/image/foto-home-02.png" class="d-block" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
      data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>